<!DOCTYPE html>
<html>
	<head>
		<!-- metas -->
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
		/>
		<meta name="author" content="Brendan Schlaman" />

		<!-- css, favicon, title -->
		<link
			rel="icon"
			type="image/png"
			href="https://schlamalama.com/favicon.png"
		/>

		<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/dompurify@2.4.0/dist/purify.min.js"></script>

		<title>Todosky | Task</title>
	</head>
	<body class="task-view">
		<!-- workaround for FOUC -->
		<script>
			let FF_FOUC_FIX;
		</script>
		<div class="task-view-wrapper">
			<div class="task-header">
				<a href="/">&#12296;Back</a>
				<h3 class="task-title" contenteditable="true"></h3>
			</div>
			<div class="task-metadata">
				<div class="task-metadata-row">
					<!-- cant think of a better name atm! -->
					<div class="task-element-pair">
						<p class="task-element-label">Id:</p>
						<p class="task-id">loading...</p>
					</div>
					<div class="task-element-pair">
						<p class="task-element-label">Created:</p>
						<p class="task-created-at">loading...</p>
					</div>
				</div>
				<div class="task-metadata-row">
					<div class="task-element-pair">
						<p class="task-element-label">Status:</p>
						<select class="task-status"></select>
					</div>
					<div class="task-element-pair">
						<p class="task-element-label">Parent story:</p>
						<select class="task-story-selector"></select>
					</div>
				</div>
			</div>
			<button class="copy-to-clipboard">Copy task ID to clipboard</button>
			<div class="task-desc-preview-toggle">
				<input name="preview" type="checkbox" />
				<label for="preview">Preview Markdown</label>
			</div>
			<div class="task-desc" contenteditable="true"></div>
			<div class="task-desc task-desc-preview rendered-markdown"></div>
			<button class="task-save">Save</button>
			<div class="task-comments"></div>
			<div class="new-comment">
				<form>
					<textarea
						placeholder="Type new comment (ctrl+&#9166; to save)"
					></textarea>
					<p class="char-indicator"></p>
					<button>Post</button>
				</form>
			</div>
			<!-- end of wrapper div -->
		</div>
	</body>
</html>
