.markdown h1 {
    font-size: 3rem;
    margin-top: 1rem;
    font-weight: bold;
}

.markdown h2 {
    font-size: 2rem;
    margin-top: 1rem;
}

.markdown h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: bold;
}

.markdown blockquote {
    border-left: 3px solid lightgray;
    padding-left: 10px;
}

.markdown ol{
    list-style-type: decimal;
}

.markdown ul {
    list-style-type: disc;
}

.markdown ul, .markdown ol {
    margin: 0.5rem 0 0.5rem 0;
    padding-left: 2rem;
    list-style-position: outside;
}

.markdown table,
.markdown th,
.markdown td {
    border: 1px solid black;
}

.mardown a, .markdown a:visited {
	text-decoration: none;
	color: #1b48aa;
}