.markdown h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.markdown h2 {
  font-size: 2rem;
  font-weight: bold;
}

.markdown h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.markdown h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

.markdown h1:not(:first-of-type),
.markdown h2:not(:first-of-type),
.markdown h3:not(:first-of-type),
.markdown h4:not(:first-of-type) {
  margin-top: 1rem;
}

.markdown hr {
  border: 1px solid lightgrey;
  border-radius: 1px;
}

.markdown blockquote {
  border-left: 3px solid lightgray;
  padding-left: 10px;
}

.markdown ol,
.markdown ul {
  /* undo tailwind's css reset for lists */
  list-style-type: revert;
}

.markdown ul,
.markdown ol {
  margin: 0.5rem 0 0.5rem 0;
  padding-left: 2rem;
  list-style-position: outside;
}

.markdown table,
.markdown th,
.markdown td {
  border: 1px solid black;
}

.markdown a,
.markdown a:visited {
  text-decoration: none;
  color: #1b48aa;
}

.markdown :global(.inline-code) {
  border-radius: 4px;
  padding: 0.1rem 0.3rem;
  white-space: nowrap;
  color: firebrick;
  box-shadow: inset 0 0 0.1rem black;
}
