/*
	### SETUP
*/

:root {
	/* off white */
	--color1: #f4f4f4;
	/* charcoal */
	--color2: #242729;
	/* blue highlight */
	--color3: #2996ed;
	/* green highlight */
	--color4: #105c06;
	/* manilla background */
	--color5: rgba(191, 182, 153 0.7);
	--color-beige: rgba(230, 223, 195, 0.7);
	/* slightly transparent black */
	--transp-black: rgba(0, 0, 0, 0.9);
	/* slightly transparent white */
	--transp-white: rgba(255, 255, 255, 0.9);
	/*
	--font: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
	*/
	--font: "Montserrat", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
}

/* defaults */
html {
	scroll-behavior: smooth;
	/* -webkit-tap-highlight-color: transparent;*/
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
a:visited {
	color: blue;
}
input,
select,
textarea,
button {
	font-family: inherit;
	font-size: inherit;
}

/* global */
body {
	font-family: var(--font);
}

code {
	background: #f3f3f3;
	border-radius: 4px;
	padding: 3px;
	color: #de3163;
	margin: 2px;
}

/* global styles for all rendered markdown */
.rendered-markdown table,
.rendered-markdown th,
.rendered-markdown td {
	border: 1px solid black;
}

/*
	### CONTENT
*/

/* buckets */
.bucket-wrapper {
	display: flex;
	gap: 1rem;
}
.bucket-wrapper .todo-app-bucket {
	background: lightgrey;
	width: 100%;
	box-shadow: inset 0 0 3px;
	overflow: hidden; /* workaround for overflowing text like <a> tags */
}
.todo-app-bucket .bucket-label {
	font-size: 1.8rem;
	color: var(--transp-black);
	margin-left: 1rem;
}
.task.dragging {
	background: lightblue !important;
}
.droppable-hover {
	background: grey !important;
}

/* task tiles */
.task {
	padding: 1rem;
	background: white;
	margin: 10px;
	border-radius: 0.5rem;
	position: relative;
	box-shadow: 3px 3px 2px darkgrey;
	font-size: 1.4rem;
}
.task .task-title {
	margin-top: 0.4rem;
}
.task .task-desc p {
	/* wrap whitespace WITHIN p that markdown renderer creates
		note that this may not the behavior I want - compare to real world examples */
	/* as of 2022.09.29 I've decided I don't want this behavior.
		the correct thing to do is just surround it in a code block or block quote */
	/* white-space: pre-wrap; */
}
.task .task-created-at,
.task .task-story-title {
	text-align: right;
	color: grey;
}
.task .task-story-title {
	display: block;
	text-decoration: underline;
	font-size: 1rem;
}
.task .task-created-at {
	font-size: 0.7rem;
}
.task .task-edit-link {
	position: absolute;
	top: 1rem;
	right: 1rem;
}
.task .task-handle {
	text-align: center;
	color: grey;
	margin: 0;
	cursor: grab;
}
.task .task-handle:active {
	cursor: grabbing;
}
.task .task-tags span {
	margin: 0.2rem;
	color: var(--transp-white);
	padding: 0.4rem;
	border-radius: 4px;
	font-size: 0.8rem;
	font-weight: bold;
}

/* bulk task styles */
/* very similar to done task styles; actually the same as of 2022.10.29 */
.task.bulk-task {
	border-left: 5px solid var(--color3);
}
.task.bulk-task
	:not(.task-title, .task-edit-link, .task-handle, .task-bulk-task-indicator, .task-tags, .task-tags
		> *) {
	display: none;
}
.task.bulk-task .task-title {
	display: inline-block;
	margin: 0 0 0.5rem 0;
}
.task.bulk-task .task-bulk-task-indicator {
	position: absolute;
	top: 0;
	font-size: 0.8rem;
}

/* done task styles */
.todo-app-bucket[data-status="DONE"] .task {
	border-left: 5px solid var(--color4);
}
.todo-app-bucket[data-status="DONE"]
	.task
	:not(.task-title, .task-created-at, .task-edit-link, .task-handle) {
	display: none;
}
.todo-app-bucket[data-status="DONE"] .task-title {
	display: inline-block;
	margin: 0;
}
.todo-app-bucket[data-status="DONE"] .task .task-created-at {
	float: right;
	font-size: 0.8rem;
}

.header-wrapper {
	display: flex;
	gap: 1rem;
	font-size: 1.2rem;
	align-items: center;
	margin: 1rem 0;
}
/* open modal buttons */
.modal-open {
	color: var(--transp-black);
	background: var(--transp-white);
	border: 2px solid var(--transp-black);
	border-radius: 8px;
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	cursor: pointer;
	padding: 0.3rem;
}
.modal-open:hover {
	color: var(--color4);
	border: 2px solid var(--color4);
}
/* sprint selector */
.sprint-select-wrapper {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-left: 2rem;
}
.sprint-select-wrapper .sprint-select-label {
	font-weight: bold;
	margin: 0;
	font-size: 1rem;
}
.sprint-select-wrapper select {
	max-width: 25rem;
}
/* tag selector */
.tags-wrapper {
	font-size: 1rem;
	max-width: 15rem;
}
.tags-wrapper span {
	white-space: nowrap;
	display: inline-block;
}
.tags-wrapper label {
	margin-right: 1rem;
}
.tags-wrapper a {
	margin: 0 1rem;
	text-decoration: underline;
}

/* modals: common themes */
.create-modal {
	padding: 1rem;
	background: var(--transp-white);
	border-radius: 10px;
	min-width: 50%; /* workaround for sizing weirdness with <p> in dialog */
}
.create-modal .modal-close {
	position: absolute;
	top: 4%;
	right: 4%;
}
.create-modal button {
	float: right;
	font-size: 1.5rem;
}
.create-modal h3 {
	text-align: center;
	font-size: 2rem;
	margin: 1rem 0;
}
.create-modal input,
.create-modal textarea {
	width: 100%;
	box-sizing: border-box;
	padding: 0.8rem;
	margin: 0.5rem 0;
	border-radius: 0.5rem;
}
.create-modal input {
	font-weight: bold;
	font-size: 1.2rem;
}
.create-modal textarea {
	resize: none;
	height: 8rem;
}
.create-modal .char-indicator {
	text-align: right;
	margin: 0;
}
/* sprint view */
.story {
	padding: 1rem;
	background: #ebeded;
	margin: 10px;
	border-radius: 0.5rem;
	position: relative;
	box-shadow: 3px 3px 2px darkgrey;
	align-items: center;
}
.story-edit-link {
	position: absolute;
	top: 1rem;
	right: 1rem;
}
.story-metadata-container {
	text-align: right;
}
.story-created-at {
	color: var(--transp-black);
}
.story-tags label {
	margin-right: 1rem;
}

/* OTHER PAGES */

/* task view page */
body.task-view {
	background: #f3f3f3;
}
.task-view-wrapper {
	font-size: 2rem;
	margin: 0 auto;
	max-width: 60%;
}
.task-view-wrapper .task-header {
	display: flex;
	align-items: center;
	gap: 3rem;
}
.task-view-wrapper .task-title {
	display: inline-block;
	margin-bottom: 0;
}
.task-view-wrapper .task-header a {
	border: 2px solid blue;
	border-radius: 5px;
	padding-right: 10px;
	background: lightgrey;
}
.task-view-wrapper .task-metadata-row {
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	gap: 3rem;
}
.task-view-wrapper .task-metadata-row:first-of-type {
	justify-content: center;
	font-size: 1rem;
}
.task-view-wrapper .task-element-pair {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
.task-element-pair .task-element-label {
	font-weight: bold;
	white-space: nowrap;
}
.task-element-pair p:not(.task-element-label) {
	color: grey;
}
.task-view-wrapper .task-status {
	font-size: 1.5rem;
}
.task-view-wrapper .task-desc-preview-toggle label {
	font-size: 0.8rem;
}
.task-view-wrapper .task-desc {
	background: lightgrey;
	font-size: 1.5rem;
	padding: 1rem;
	border-radius: 5px;
	margin: 1rem 0;
}
.task-view-wrapper .task-desc-preview li p {
	margin: 0;
}
.task-view-wrapper .task-desc:not(.task-desc-preview) {
	white-space: pre-wrap;
}
.task-view-wrapper .task-save {
	font-size: 1.5rem;
	display: block;
	margin: 0 0 0 auto;
}
.task-comments .comment-wrapper {
	outline: 2px solid grey;
	border-radius: 8px;
	position: relative;
	padding: 1rem;
	margin: 1rem 0;
	font-size: 1.5rem;
	background: var(--transp-white);
}
.comment-wrapper .comment-text {
}
.comment-wrapper .comment-id,
.comment-wrapper .comment-created-at {
	color: lightgrey;
	position: absolute;
	right: 1rem;
	margin: 0.4rem;
	font-size: 1rem;
}
.comment-wrapper .comment-created-at {
	bottom: 1rem;
}
.comment-wrapper .comment-id {
	top: 1rem;
}
.new-comment {
	outline: 2px solid grey;
	border-radius: 8px;
	position: relative;
	padding: 1rem;
	margin: 1rem 0;
	font-size: 1.5rem;
	background: var(--transp-white);
}
.new-comment textarea {
	background: var(--color5);
	resize: none;
	width: 100%;
	box-sizing: border-box;
	border-radius: 8px;
	padding: 1rem;
	margin: 1rem 0;
}
.new-comment .char-indicator {
	text-align: right;
	margin: 0;
}
.new-comment button {
	color: var(--transp-white);
	font-size: 1.3rem;
	background: var(--color3);
	border-radius: 3px;
}

/* login page */
body.login .login-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
body.login form {
	font-size: 3rem;
}
body.login input[name="pass"] {
	padding: 0.6rem;
}
