/*
	### SETUP
*/

:root {
	/* off white */
	--color1: #f4f4f4;
	/* charcoal */
	--color2: #242729;
	/* blue highlight */
	--color3: #2996ed;
	/* green highlight */
	--color4: #105c06;
	/* manilla background */
	--color5: rgba(191, 182, 153 0.7);
	--color-beige: rgba(230, 223, 195, 0.7);
	/* slightly transparent black */
	--transp-black: rgba(0, 0, 0, 0.9);
	/* slightly transparent white */
	--transp-white: rgba(255, 255, 255, 0.9);
/*	--font: "Montserrat", sans-serif;*/
	--font: "Quicksand", sans-serif;
}

/* defaults */
html {
	scroll-behavior: smooth;
	/* -webkit-tap-highlight-color: transparent;*/
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
input, select, textarea, button {
	font-family: inherit;
}

/* global */
body {
	font-family: var(--font);
}

/*
	### CONTENT
*/

/* buckets */
.todo-app-wrapper {
	display: flex;
	gap: 1rem;
}
.todo-app-wrapper .todo-app-bucket {
	background: lightgrey;
	width: 100%;
}
.task.dragging {
	background: lightblue !important;
}
.droppable-hover {
	background: grey !important;
}

/* task tiles */
.task {
	padding: 1rem;
	background: white;
	margin: 10px;
	border-radius: 0.5rem;
	position: relative;
	box-shadow: 3px 3px 2px darkgrey;
}
.task .task-created-at,
.task .task-status,
.task .task-id,
.task .task-story-title {
	text-align: right;
	font-size: 0.7rem;
	color: grey;
}
.task .task-desc {
	white-space: pre-wrap;
}
.task .task-edit-link {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

/* done task styles */
.todo-app-bucket[data-status="DONE"] .task {
	border-left: 5px solid var(--color4);
}
.todo-app-bucket[data-status="DONE"] .task :not(.task-title, .task-created-at) {
	display: none;
}
.todo-app-bucket[data-status="DONE"] .task-title {
	display: inline-block;
	margin: 0;
}
.todo-app-bucket[data-status="DONE"] .task .task-created-at {
	display: inline-block;
	float: right;
}

/* open modal buttons */
.modal-open {
	color: var(--transp-black);
	background: var(--transp-white);
	border: 2px solid var(--transp-black);
	border-radius: 8px;
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	margin: 1rem 0;
	font-size: 1.4rem;
	cursor: pointer;
	font-size: 1.5rem;
}
.modal-open:hover {
	color: var(--color4);
	border: 2px solid var(--color4);
}

/* modals: common themes */
.create-task-modal,
.create-story-modal,
.create-sprint-modal {
	padding: 1rem;
	background: var(--transp-white);
	border-radius: 10px;
}
.create-modal .modal-close {
	position: absolute;
	top: 4%;
	right: 4%;
}
.create-modal button {
	float: right;
	font-size: 1.5rem;
}
.create-modal h3 {
	text-align: center;
	font-size: 2rem;
	margin: 1rem 0;
}
.create-modal input,
.create-modal textarea {
	width: 100%;
	box-sizing: border-box;
	padding: 0.8rem;
	margin: 0.5rem 0;
	border-radius: 0.5rem;
}
.create-modal input {
	font-weight: bold;
	font-size: 1.2rem;
}
.create-modal textarea {
	resize: none;
	height: 8rem;
}

/* OTHER PAGES */

/* task view page */
.task-view-wrapper {
	font-size: 2rem;
}
.task-view-wrapper .task-metadata {
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	gap: 3rem;
}
.task-view-wrapper .task-element-pair {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
.task-element-pair .task-element-label {
	font-weight: bold;
}
.task-element-pair p:not(.task-element-label) {
	color: grey;
}
.task-view-wrapper .task-status {
	font-size: 2rem;
	margin-bottom: 1rem;
}
.task-view-wrapper .task-desc {
	white-space: pre-wrap;
	background: var(--color-beige);
	padding: 0.5rem;
	border-radius: 5px;
}
.task-view-wrapper .task-comments {
	white-space: pre-wrap;
}
.task-view-wrapper .task-save {
	font-size: 2rem;
}
.task-comments .comment-wrapper {
	outline: 2px solid grey;
	border-radius: 8px;
	max-width: 60%;
	position: relative;
	padding: 1rem;
	margin: 1rem 0.5rem;
	font-size: 1.5rem;
}
.comment-wrapper .comment-text {
}
.comment-wrapper .comment-created-at {
	color: lightgrey;
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	margin: 0.4rem;
}
.comment-wrapper .comment-id {
	color: lightgrey;
	position: absolute;
	top: 1rem;
	right: 1rem;
	margin: 0.4rem;
}
.new-comment {
	outline: 2px solid grey;
	border-radius: 8px;
	max-width: 60%;
	position: relative;
	padding: 1rem;
	margin: 1rem 0.5rem;
	font-size: 1.5rem;
}
.new-comment textarea {
	background: var(--color5);
	resize: none;
	width: 100%;
	box-sizing: border-box;
	border-radius: 8px;
	padding: 1rem;
	margin: 1rem 0;
}
.new-comment button {
	color: var(--transp-white);
	font-size: 1.3rem;
	background: var(--color3);
	border-radius: 3px;
}
