/*
	### SETUP
*/

:root {
	/* off white */
	--color1: #f4f4f4;
	/* charcoal */
	--color2: #242729;
	/* blue highlight */
	--color3: #2996ed;
	/* green highlight */
	--color4: #105c06;
	/* slightly transparent black */
	--transp-black: rgba(0, 0, 0, 0.9);
	/* slightly transparent white */
	--transp-white: rgba(255, 255, 255, 0.9);
/*	--font: "Montserrat", sans-serif;*/
	--font: "Quicksand", sans-serif;
}

/* defaults */
html {
	scroll-behavior: smooth;
	/* -webkit-tap-highlight-color: transparent;*/
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
input, select, textarea, button {
	font-family: inherit;
}

/* global */
body {
	font-family: var(--font);
}

/*
	### CONTENT
*/

.todo-app-wrapper {
	display: flex;
	gap: 1rem;
}
.todo-app-wrapper .todo-app-bucket {
	background: lightgrey;
	width: 100%;
}
.task.dragging {
	background: lightblue !important;
}
.droppable-hover {
	background: grey !important;
}
.task {
	padding: 1rem;
	background: white;
	margin: 8px;
	border-radius: 0.5rem;
}
.task .task-id {
	font-size: 0.7rem;
	color: grey;
}
.task .task-created-at,
.task .task-status {
	text-align: right;
	font-size: 0.7rem;
	color: grey;
}
.task .task-desc {
	white-space: pre-wrap;
}

/* done task styles */
.todo-app-bucket[data-status="DONE"] .task {
	border-left: 5px solid var(--color4);
}
.todo-app-bucket[data-status="DONE"] .task :not(:first-child) {
	display: none;
}
.todo-app-bucket[data-status="DONE"] .task-title {
	margin: 0;
}

.modal-open {
	color: var(--transp-black);
	background: var(--transp-white);
	border: 2px solid var(--transp-black);
	border-radius: 8px;
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	margin: 1rem 0;
	font-size: 1.4rem;
	cursor: pointer;
}
.modal-open:hover {
	color: var(--color4);
	border: 2px solid var(--color4);
}

button.modal-open {
	font-size: 1.5rem;
}
.create-task-modal {
	padding: 1rem;
	background: var(--transp-white);
	border-radius: 10px;
}
.create-task-modal .modal-close {
	position: absolute;
	top: 4%;
	right: 4%;
}
.create-task-modal h3 {
	text-align: center;
	font-size: 2rem;
	margin: 1rem 0;
}
.create-task-modal input,
.create-task-modal textarea {
	width: 100%;
	box-sizing: border-box;
	padding: 0.8rem;
	margin: 0.5rem 0;
	border-radius: 0.5rem;
}
.create-task-modal input {
	font-weight: bold;
	font-size: 1.2rem;
}
.create-task-modal textarea {
	resize: none;
	height: 8rem;
}
.create-task-modal button {
	float: right;
	font-size: 1.5rem;
}
